# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
**/.venv/
poetry.lock 
# git token
.git_token

# single file xps and logs
data/experiences/caussim
data/experiences/acic_2016/
data/experiences/acic_2018/
data/experiences/twins/
data/experiences/acic_2016/
data/experiences/fixed_surfaces/
data/experiences/family_simulation_fixed/
data/experiences/acic_2016_ate_heterogeneity/
joblib
data/experiences/shared_rpz_as_complexity/
*.log
awesome_task/

# results
results/figures/videos/
figures/extrapolation_plots/
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
**/*.hypothesis/
.pytest_cache/
# DotEnv configuration
.env

# Documentation builds
docs/_build


# Database
*.db


# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

# Local log files
.logs/

# ipython
**/.ipynb_checkpoints
**/ipython
